<style>
body {text-align: center; margin-top: 150px;}
</style>
<div class="container">
<h1>Welcome to TravelJournal</h1>
<h4>Plan & document your travels, all in one place.</h4>
<br><br>
<%= link_to 'New Trip', new_trip_path, class: 'btn btn-lg btn-info' %>
